/*
* app.css
*
*/

@media screen {

	html,
	body,
	#section_main { font-size: 10px; height: 100%; width: 100%; overflow: hidden; }

	#header_global {
		display: none;
		height: 44px;
		width: 100%;
		background: #eee;
		/*background: rgba(100,100,100,0.2);*/
		border-bottom: 1px solid rgba(0,0,0,0.3);
		position: relative;
		z-index: 100;
		display: none;
		overflow: hidden;
	}

	#header_global .button {
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.06);
		height: 37px;
		width: 37px;
		position: absolute;
		top: 3px;
		color: transparent;
		box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.9);
		border-right: 1px solid rgba(0, 0, 0, 0.07);
		border-left: 1px solid rgba(0, 0, 0, 0.07);

		transition: background-color .5s ease;
		-webkit-transition: background-color .5s ease;
		-moz-transition: background-color .5s ease;
		-o-transition: background-color .5s ease;
	}

	#header_global .button.active {
		background-color: rgba(0,0,0,0.3);
	}

	#header_global .button.right {
		right: 5px;
	}

	#header_global .button.right.dashboard {
		background: url('../../images/dashboard.png') no-repeat;
		background-size: 89% auto;
		background-position: 50% 50%;
	}

	#header_global .button.left {
		left: 5px;
	}

	#header_global h2 {
		text-align: center;
		font-size: 2em;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
		color: #333;
		line-height: 1.54em;
	}

	#header_global h3 {
		text-align: center;
		font-size: 1.3em;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
		color: #333;
		line-height: .5em;
	}

	#section_content {
		width: 100%;
		height: 100%;
		/*overflow: hidden;*/
		-webkit-overflow-scrolling: touch;
	}

	#footer_global {
		display: none;
	}



	/* Splash Screen */

	#section_content.splash {
		background: url('../../images/grass_bg.jpg') no-repeat;
		background-size: 100% auto;
		width: 100%;
		height: 100%;
		padding: 5%;
	}

	.splash .logo {
		max-width: 429px;
	max-height: 210px;
	display: block;
	background: url('../../images/logo.png') no-repeat;
	margin: 0 auto;
	position: relative;
	top: 15%;
	/*margin: 23% auto 40%;*/
	color: transparent;
	background-size: 100% auto;
	width: 80%;
	height: 210px;
	}

	.splash .blurb {
		position: absolute;
		bottom: 30%;
	}

	.splash h2 {
		font-size: 200%;
		font-weight: bold;
		color: white;
	}

	.splash p {
		font-size: 1.8em;
		color: white;
		font-weight: 100;
		opacity: 0.7;
	}

	.splash .menu {

		position: absolute;
		bottom: 15%;
		width: 100%;
	}

	.splash .menu li a {
		display: block;
		width: 40%;
		height: 40px;
		background: white;
		border-radius: 4px;
		float: left;
		text-align: center;
		line-height: 1.9em;
		text-decoration: none;
		color: #333;
		font-size: 1.6em;
		border: 3px solid #333;
		margin-right: 28px;
	}

	.splash #login {
		display: none;
	}

	.splash .blurb.login {
		display: none;
	}


	/* Dashboard */

	.dashboard {
		width: 100%;
		height: 100%;
		overflow: scroll;
		padding: 20px 5% 0;
		position: relative;
		z-index: 50;
	}


	.dashboard li {
		width: 48%;
		float: left;
		margin: 1%;
		position: relative;
		z-index: 50;
		height: 144px;
	}

	.dashboard #addNew {
		background: #f10000;
		opacity: 0.7;
		width: 100px;
		height: 100px;
		border-radius: 6px;
	}

	.dashboard #addNew a {
		color: transparent;
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.dashboard #addNew a:after {
		display: block;
		position: absolute;
		content: '+';
		font-weight: 900;
		color: white;
		font-size: 12em;
		text-align: center;
		width: 100%;
		height: 100%;
		line-height: 0.7em;
	}

	.dashboard img {
		max-width: 100px;
		/*margin: 0 0 -21px 0;*/
		display: block;
		clear: both;
		position: relative;
	}

	.dashboard li:after {
		display: block;
		content: '';
		width: 100px;
		height: 100px;
		background: white;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.01;
	}

	.dashboard h2 {
		font-size: 2em;
		font-weight: bold;
	}

	.dashboard h3 {
		font-size: 1.3em;
	}

	.dashboard .status {
		color: transparent;
		height: 20px;
		width: 20px;
		border-radius: 100%;
		background: red;
		position: absolute;
		top: -5px;
		left: 87px;
	}

	.dashboard .good.status {
		background: rgba(0,255,0,0.8);
	}

	.dashboard .meh.status {
		background: rgba(255,255,0,0.8);
	}

	.dashboard .poor.status {
		background: rgba(255,0,0,0.8);
	}

	#mouseLoader {
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.5);
		border: 1px solid #fff;
z-index: 1000;
		display: none;

		transform-origin: 0% -100%;
		-moz-transform-origin: 0% -100%;
		-o-transform-origin: 0% -100%;
		-webkit-transform-origin: 0% -100%;

		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);

		-webkit-animation-iteration-count:  infinite;
		-moz-animation-iteration-count:  infinite;
		-o-animation-iteration-count:  infinite;
		animation-iteration-count:  infinite;

	-webkit-animation-duration: .4s;
	   -moz-animation-duration: .4s;
	     -o-animation-duration: .4s;
	        animation-duration: .4s;


	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	     -o-animation-timing-function: linear;
	        animation-timing-function: linear;

	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;

	        -webkit-animation-direction: normal;
	   -moz-animation-direction: normal;
	     -o-animation-direction: normal;
	        animation-direction: normal;



		-webkit-animation-name: mouseLoad;
		-moz-animation-name: mouseLoad;
		-o-animation-name: mouseLoad;
		animation-name: mouseLoad;
		
		
	}
	@-webkit-keyframes mouseLoad {
		0% {
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
	}

	@-moz-keyframes mouseLoad {
		0% {
			transform: rotate(0deg);
			-moz-transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
			-moz-transform: rotate(360deg);
		}
	}

	@-o-keyframes mouseLoad {
		0% {
			transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
			-o-transform: rotate(360deg);
		}
	}

	@keyframes mouseLoad {
		0% {
			transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
			-o-transform: rotate(360deg);
		}
	}


	/* Add New Plant */

	.addPlant {
		position: absolute;
		top: 44px;
		left: 100%;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.3);
	}

	/* Side menu */
	#section_main {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	#section_content {
		overflow: scroll;
		transition: left .5s ease;
		-webkit-transition: left .5s ease;
		-moz-transition: left .5s ease;
		-o-transition: left .5s ease;
		position: relative;
		left: 0;
		padding-bottom: 44px;

		
	}


	#section_content.sideMenuOpened {
		left: 80%;
		border-left: 2px solid rgba(0,0,0,0.3);
	}




	/* -- Plant Profile Page -- */


	.hero {
		overflow: hidden;
		width: 100%;
		height: 150px;
	}

	.hero img{
		width: 100%;
		height: auto;
	}

	.profileNav {
		width: 100%;
		height: 29px;
		position: relative;
		margin-top: -29px;
	}

	.profileNav li {
		width: 25%;
		height: 100%;
		float: left;
		margin-right: 10px;
		background: white;
		text-align: center;
		padding: 5px;
		border-radius: 3px 3px 0 0;
	}

	.profileContent {

	}

	.profileContent > div {
		display: none;
	}

	.profileContent > div.active {
		display: block;
		position: relative;
		z-index: 200;
	}

	.guages {
		height: 150px;
		text-align: center;
	}

	.guages img {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 150px;
		height: auto;
	}

	.guages li {
		float: left; width: 33%;
	}


 	/* To be used more widely? */
	.header {
		clear: both;
		width: 100%;
		background: rgba(0, 0, 0, 0.3);
		font-size: 1.8em;
		padding: .5% 5%;
	}

	.header h2 {
		display: inline;
	}

	.header span {
		float: right;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 100%;
		height: 24px;
		width: 24px;
		color: white;
		text-align: center;
		line-height: 1.5em;
		margin-top: -1px;
	}

	.notifications {
		width: 100%;
	}

	.notifications li {
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding: 0 5%;
		line-height: 2em;
		font-size: 1.4em;
		position: relative;
	}

	.notifications li:before {
		content: '';
		display: inline-block;
		height: 30px;
		width: 37px;
		background: url('../../images/drop.png') no-repeat;
		position: relative;
		left: 16px;
		top: 13px;
	}

	.stage {
		/*height: 20px;*/
	}

	.facts h2, .stage h2 { 
		font-size: 2em;
	}

	.sprouting {
		padding: 0 7%;
		position: relative;
	}

	.sprouting p {
		float: right;
		width: 60%;
		font-size: 1.6em;
		margin-top: -36px;
	}

	.sprouting:before {
		content: '2';
		display: inline;
		font-size: 4em;
		font-weight: bold;
		float: left;
		position: relative;
		left: -5px;
		top: -3px;
	}

	.stage h3 {
		font-size: 1.4em;
	}

	.stageProgress {
		width: 100%;
		height: 100px;
		background: url('../../images/progress.png') no-repeat;
		background-size: 100% auto;
		color: transparent;
		margin: 30px 0;
		clear: both;
	}

	.button {
		margin: 3%;
		height: 71px;
		border-radius: 9px;
		overflow: hidden;
		background: #CCC;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 2%;
	}

	.button a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 3em;
		text-align: center;
		line-height: 1.9em;
	}

	.faq {
		border-top: 1px solid rgba(0, 0, 0, 0.3);
	}

	.faq li {
		min-height: 34px;
		padding: 0% 3%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		line-height: 3em;
		font-size: 1.4em;
	}

	







	/* #### Experimental 

	#section_content {
		  -webkit-transform-style: preserve-3d;
		transform: perspective(300px) rotateY(20deg); /* translateZ(-40px); *
		perspective: 510px;
		perspective-origin: 50px 10px;
		-webkit-transform: perspective(300px) rotateY(20deg); /* translateZ(-40px); *
		-webkit-perspective-origin: 50px 10px;
		padding-left: 50px;
		width: 110%;
		z-index: 25;
	}
	 */

	::selection {
		background: transparent;
	}
	::-moz-selection {
		background: transparent;
	}
}
