@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);


@media screen{ 



*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

	html,
	body,
	#section_main { -webkit-font-smoothing: antialiased; background: #FBFBFB; color: #4e4e4e; font-family: 'Asap'; font-size: 10px; height: 110%; overflow: hidden; width: 100%; }


	#section_main { position: relative; padding-top: 48px; height: 100%;
		&.splash { padding-top: 0px; }
	}
	select, input, button, textarea, button { font-family: 'Asap'; }
	h1,
	h2 { font-family: 'Asap'; }

	* { -webkit-overflow-scrolling: touch; }

	.status { text-indent: -9999px; }

	.modafied {
		#settings { -webkit-filter: blur(5px); filter: blur(5px); }
	}

	.dim { 
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(255,255,255,0.75);
	}



	.button.red {
background: #c53e3e;
color: #fff;
text-align: center;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
	#header_global {
		background: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); display: none; height: 48px; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 500; 
   
		.button { background: #ffffff;
					background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
					background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
					background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
					background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
					background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
					position: relative; transition:background-color .5s ease, opacity 0.4s ease; -moz-transition: background-color .5s ease, opacity 0.4s ease; -o-transition: background-color .5s ease, opacity 0.4s ease; -webkit-transition: background-color .5s ease, opacity 0.4s ease; border-left: 1px solid rgba(0,0,0,0.07); border-radius: 3px; border-right: 1px solid rgba(0,0,0,0.07); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0,0,0,0.04); color: transparent; height: 37px; position: absolute; top: 3px; transition: background-color .5s ease; width: 37px;
				}



		.button.active { background: #f3f3f3;
						background: -moz-linear-gradient(top, #f3f3f3 0%, #fff 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fff));
						background: -webkit-linear-gradient(top, #f3f3f3 0%,#fff 100%);
						background: -o-linear-gradient(top, #f3f3f3 0%,#fff 100%);
						background: -ms-linear-gradient(top, #f3f3f3 0%,#fff 100%);
						background: linear-gradient(to bottom, #f3f3f3 0%,#fff 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
						box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0,0,0,0.04);
					}


		.button {
			&.menuIcon::after { display: block; content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%;  background-image: url('../../images/btn.menu.png'); background-position: center center; background-repeat: no-repeat; background-size: 85%; }
			&.settingsIcon::after { display: block; content: ''; position: absolute; left: 0; top: 0;  height: 100%; width: 100%; background-image: url('../../images/btn.settings.png'); background-position: center center; background-repeat: no-repeat; background-size: 85%; }
		}
		.button.right { right: 5px }
		.button.right.backToDash { background: url(../../images/dashboard.png) no-repeat; background-position: 50% 50%; background-size: 89% auto; }
		.button.left { left: 5px }
		h2 { color: #87A708; font-size: 2.2em; line-height: 1.54em; text-align: center; text-transform: capitalize;  text-shadow: 0 -.9px 0 #799607; font-weight: bold }
		h3 { color: #333; font-size: 1.3em; line-height: .5em; text-align: center; text-shadow: 0 1px 0 rgba(255,255,255,0.9); font-weight: 100; }
	}
	 
	#section_content { -moz-transition: left .5s ease, border-left .5s ease; -o-transition: left .5s ease, border-left .5s ease; -webkit-transition: left .5s ease, border-left .5s ease; background: #fbfbfb; height: 100%; left: 0; border-left: 0px solid rgba(0,0,0,0); overflow: scroll;  /* padding-bottom: 100px; */ position: relative; transition: left .5s ease; width: 100%; z-index: 5; opacity: 1;
		&.splash { background: url(../../images/grass_bg.jpg) no-repeat; background-size: 100% auto; background-position: center bottom; height: 100%; padding: 0%; width: 100%; }
	}

	span.value { float: right; }

	.splash {
		.logo { background: url(../../images/logo.png) no-repeat; background-size: 100% auto; color: transparent; display: block; height: 164px; margin: 0 auto; max-width: 390px; position: relative; width: 67%; }
		.blurb { background: #2e2e2e; background: rgba(46, 46, 46, 0.4); bottom: 30%; left: 0; padding: 6% 10%;  height: auto; width: 100%; -moz-transition: height .5s ease; -o-transition: height .5s ease; -webkit-transition: height .5s ease; }
		h2 { color: #FFF; font-size: 3em; font-weight: 700; }
		p { color: #FFF; font-size: 1.8em; font-weight: 100; }
		.menu { width: 100%; left: 10%; height: 45%;

			li{
				a{background: #181818; background: rgba(24,24,24,0.6); border-radius: 10px; color: #dadada; display: block; float: left; font-size: 1.8em; font-weight: 700; min-height: 42px; line-height: 2.2em; margin-right: 4%; text-align: center; text-decoration: none; min-width: 100px; width: 46%;}
				}
			}




		#login {
			li { clear: both; display: block; height: 40px; width: 100%; margin-bottom: 10px; border-radius: 5px; font-weight: 100;
				&.cancel { clear: none; width: 50%; float: left; a { color: #fff; background: #c53e3e; } }
				&.login { clear: none; width: 50%; float: left; }
				/*a{ width: 100%; }*/
				input { width: 100%; height: 100%; border: none;  font-size: 1.8em; text-indent: 3%; }
			}
		}


		#signup { background: none repeat fixed 0 0 rgba(46, 46, 46, 0.4); padding: 20px; 
			&.facebookBtn {
				height: 20px;
				a {background: #526EA6; text-transform: lowercase; color: white; font-weight: 800; width: 100%; }
			}
		
			li { clear: both; display: block; height: 40px; width: 100%; margin-bottom: 10px; border-radius: 5px; font-weight: 100;
				a{ width: 100%; }
				input { width: 100%; height: 100%; border: none; font-weight: 100; font-size: 1.8em; text-indent: 3%; }
				&.cancel {
					clear: none;
					font-size: 1.2em;
					float: left;
					width: 49%;
					a { color: #fff; background: #c53e3e; width: 100%; }
				}
				&.signUp {
					clear: none;
					font-size: 1.2em;
					color: #fff;
					float: right;
					width: 49%;
					a { color: #fff; background: #8bc53e; width: 100%; }
				}
			}
		}
	}


	.confirm {
		position: fixed;
		top: 10%;
		padding: 0 5%;
		text-align: center;
		font-size: 22px;
		width: 100%;

		.btnContainer {
			margin-top: 20px;
			.button {
				cursor: pointer;
				width: 44%;
				float: left;
				line-height: 2.5em;
				height: 55px;
			}
		}

		p span {
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			color: #c53e3e;
		}

		em {
			display: block;
			padding: 8px 0;
			font-variant: small-caps;
			text-transform: lowercase;
			font-weight: bold;
			font-size: 1.2em;
		}
	}

#settings {
	-webkit-transition: .4s -webkit-filter ease;
	-webkit-filter: blur(0px);

	transition: .4s filter ease;
	filter: blur(0px);
	.sub { height: 0; overflow: hidden; transition: .4s height ease; -webkit-transition: .4s height ease; } 
	.open .sub { height: 240px; }
}
	.addPlant > div { overflow: scroll; height: 100%; }
	.addPlant {

		background-color: #fbfbfb; 
		height: 100%;
		position: absolute;
		top: 44px;
		width: 100%;
		overflow: scroll;
		z-index: 90;
		padding: 4% 1% 50%;
		input { width: 100%; height: 39px; font-size: 1.8em;
			text-indent: 3%;
			font-weight: 100;
			border: 1px solid #D8D8D8;
			border-radius: 3px;
			margin-bottom: 11px;
			position: relative;
			box-shadow: 0px 0px 2px rgba(14, 14, 11, 0.1); }

			#imgThumb {
				z-index: 100;
				max-width: 100%;
				max-height: 100%;
			}

		.name.button {
			color: #fff;
			font-weight: bold;
			height: auto;
			padding: 2% 0;
			line-height: 2em;
			font-size: 18px;
			text-indent: 8px;
		}

		.name.button:after {
			display: block;
			content: '';
			width: 50px;
			height: 50px;
			background: url('../../images/arrow.png') no-repeat center center;
			position: absolute;
			top: 50%;
			margin-top: -25px;
			right: 0%;

			transition: .4s all ease;
			-webkit-transition: .4s all ease;
		}

		.open .name.button:after{
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			right: 1%;
		}

		ul.sub li {
			border-radius: 5px;
			box-sizing: border-box;
			height: auto;
			margin: 3%;
			font-size: 16px;
			padding: 9px 5px;
			overflow: hidden; 
			border: 1px solid #c0c0c0;
			text-indent: 3px;
		}

		h2 { text-indent: 3%;
			font-size: 2em;
			margin-bottom: 10px;
			color: #A0A0A0; }
		input[type=file]{
			position: relative;
			z-index: 20;
			box-shadow: none;
			border: none;
			border-radius: 0;
		}
		input[type=file].nope:after{
			display: none;
		}
		input[type=file]:after {
			content: '';
			display: none;
			height: 100%;
			width: 100%;
			background: #fbfbfb url('../../images/camera.png') no-repeat center center;
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			border: 2px dashed rgba(143, 141, 141, 0.5);
			border-radius: 20px;
		}

		input[type=file].loader:after {
			background: url("../../images/loading.gif") rgba(251, 251, 251, 0.9) center center no-repeat;
		}

		#newPlantForm li { clear: both; }

		#newPlantForm li span {
			display: block;
			text-indent: -9999px;
			overflow: hidden;
			height: 70px;
			width: 33%;
			float: left;
			margin-bottom: -10px;
		}

		#newPlantForm li label.left { float: left; }
		#newPlantForm li label.right { float: right; }

		#newPlantForm li span.seed {
			background: url('../../images/sprites.age.png') no-repeat;
			background-position: left top;
			/*width: 50px;*/
		}

		#newPlantForm li span.mid {
			background: url('../../images/sprites.age.png') no-repeat;
			background-position: center center;
			/*width: 50px;*/
		}

		#newPlantForm li span.mature {
			background: url('../../images/sprites.age.png') no-repeat;
			background-position: right bottom;
			/*width: 44px;*/
		}


		input[type="range"]{
		   -webkit-appearance: none !important;
		border-radius: 50px;
		height: 10px;
		background: #c3c3c3; /* url('../../images/bg.slider.png'); */
		background-size: auto 100%;
		 }

		 input[type="range"]::-webkit-slider-thumb{
		    height: 30px; width: 30px; display: block; background: #4f4f4f; /* url('../../images/btn.slider.png'); */ background-size: 100%; background-repeat: no-repeat; border-radius: 100%; box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
		   -webkit-appearance:none !important;  
		 }
		 #defaultPhotosContainer {
		width: 100%;
		height: 180px;
		padding: 10px 0;
		overflow-x: scroll;
		overflow-y: hidden;

			.grabbed {
				max-height: 100%;
				margin-right: 15px;
				border: 0px solid #a1b05d;

				transition: .5s -webkit-filter ease, .5s filter ease,  .5s border ease;
				-webkit-transition: .5s -webkit-filter ease, .5s filter ease,  .5s border ease;
			}

			.selected {

				border: 5px solid #a1b05d;
				height: 100%;	
				box-shadow: 0px 0px 5px rgba(161, 176, 93, 0.6), 0px 0px 8px rgba(161, 176, 93, 0.3), 0px 0px 10px rgba(161, 176, 93, 0.1), 0px 0px 5px rgba(161, 176, 93, 0.6), 0px 0px 8px rgba(161, 176, 93, 0.3), 0px 0px 10px rgba(161, 176, 93, 0.1);

			}
			
		}

	}

	li.cancel {
					clear: none;
					font-size: 1.2em;
					float: left;
					width: 49%;
					a { color: #fff; background: #c53e3e; }
				}
	
	.dashboard { height: 100%; overflow: scroll; padding: 20px 5% 0; position: relative; width: 100%; z-index: 50; 


		li { float: left; height: 175px; position: relative; width: 48%; z-index: 50; 
			&#addNew { background: #8bc53e; border-radius: 6px; height: 100px; width: 100px; }
			&#addNew a { color: transparent; display: block; height: 100%; position: relative; width: 100%; }
			&#addNew a:after { color: #FFF; content: '+'; display: block; font-size: 12em; font-weight: 900; height: 100%; line-height: .45em; position: absolute; text-align: center; width: 100%; }
		}
	   
		.square { overflow: hidden; clear: both; display: block; max-width: 103px; max-height: 103px; position: relative; border-radius: 3px; box-shadow: 0px 1px 1px rgba(0,0,0,0.3); }
		.square img {
display: block;
height: 100%;
width: auto;
border-radius: 3px;
position: relative;
left: -25%;
} 
		li:after { background: #FFF; content: ''; display: block; height: 100px; left: 0; opacity: 0.01; position: absolute; top: 0; width: 100px; }
		h2 { font-size: 2em; font-weight: 700; }
		h3 { font-size: 1.3em }
		.status { background: red; border-radius: 100%; color: transparent; height: 20px; left: 87px; position: absolute; top: -5px; width: 20px; }
		.good.status { background: rgba(0,255,0,0.8) }
		.meh.status { background: rgba(255,255,0,0.8) }
		.poor.status { background: rgba(255,0,0,0.8) }
	}

	#side_menu {
		z-index: 5;
		width: 80%;
		background: #fbfbfb;
		position: absolute;
		left: 0;

		 -moz-transition: left .4s; -o-transition: left .4s; -webkit-transition: left .4s; transition: left .4s;

		ul {list-style: none;}
    	li {float: left; width: 100%; height: 50px; width: 100%; font-size: 21px;
    		border-bottom: 1px solid #bebebe; line-height: 2em; position: relative; background-repeat: no-repeat; 
    		a { text-decoration: none; color: #4e4e4e; margin-left: 60px; }
    		&.active { background: #d8e2b2; a { color: #000; } }
    		&._logout { border-bottom: none; }

    		&._dash:before { background-image: url('../../images/sprites.gnav.png'); background-position: 0px 8px; }
    		&._database:before  { background-image: url('../../images/sprites.gnav.png'); background-position: 0px -46px; }
    		&._help:before  { background-image: url('../../images/sprites.gnav.png'); background-position: 0px -99px; }
    		&._about:before  { background-image: url('../../images/sprites.gnav.png'); background-position: 0px -153px; }
    		&._contact:before  { background-image: url('../../images/sprites.gnav.png'); background-position: 0px -209px; }
    		&._logout:before { border-bottom: none;  background-image: none; background-position: 0px 0px; }
    	}

    	li:before { display: block; background-size: 100% auto; content: ''; height: 49px; opacity: 0.6; width: 50px; border-bottom: 1px solid #bebebe; position: absolute; left: 0;}

    	li.active:before { background-color: #b8cb63; opacity: 1;  }


	}
	#side_menu.sideMenuOpened{z-index: 0; left: 0px;}
	#search, #results{width:100%; float:left; background: #fbfbfb;}
	#search{height: 62px; width: 100%; text-align: center; overflow: hidden; padding:11px; border-bottom: 1px solid #ccc;
		
		div{float:left;}
		div.searchForm>input, .searchButton, .advancedButton{-moz-transition: background-color .5s ease; -o-transition: background-color .5s ease; -webkit-transition: background-color .5s ease; transition: background-color .5s ease; width: 38px; height: 38px; border-radius: 4px;}
		.searchButton{
			position:absolute;
			left: 4%;
			z-index:1;
			background: #abc152;
			background-image: linear-gradient(left top, rgb(187,205,98) 50%, rgb(171,193,82) 50%);
			background-image: -o-linear-gradient(left top, rgb(187,205,98) 50%, rgb(171,193,82) 50%);
			background-image: -moz-linear-gradient(left top, rgb(187,205,98) 50%, rgb(171,193,82) 50%);
			background-image: -webkit-linear-gradient(left top, rgb(187,205,98) 50%, rgb(171,193,82) 50%);
			background-image: -ms-linear-gradient(left top, rgb(187,205,98) 50%, rgb(171,193,82) 50%);
			&::after{
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				background: url('/images/search.png') no-repeat center center;
				background-size: 50%;
			}
		}
		.advancedButton{
			position: absolute;
			right: 1%;
			background: #dbdbdb;
			background-image: linear-gradient(left top, rgb(230,230,230) 50%, rgb(219,219,219) 50%);
			background-image: -o-linear-gradient(left top,  rgb(230,230,230) 50%, rgb(219,219,219) 50%);
			background-image: -moz-linear-gradient(left top,  rgb(230,230,230) 50%, rgb(219,219,219) 50%);
			background-image: -webkit-linear-gradient(left top,  rgb(230,230,230) 50%, rgb(219,219,219) 50%);
			background-image: -ms-linear-gradient(left top,  rgb(230,230,230) 50%, rgb(219,219,219) 50%);
			&::after{
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				background: url('/images/arrow.png') no-repeat center center;
				background-size: 50%;
			}

			&.active{background: #838383;
				background-image: linear-gradient(left top, rgb(136,136,136) 50%, rgb(131,131,131) 50%);
				background-image: -o-linear-gradient(left top,  rgb(136,136,136) 50%, rgb(131,131,131) 50%);
				background-image: -moz-linear-gradient(left top,  rgb(136,136,136) 50%, rgb(131,131,131) 50%);
				background-image: -webkit-linear-gradient(left top,  rgb(136,136,136) 50%, rgb(131,131,131) 50%);
				background-image: -ms-linear-gradient(left top,  rgb(136,136,136) 50%, rgb(131,131,131) 50%);}
			
			&.active::after{
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				background: url('/images/arrowOut.png') no-repeat center center;
				background-size: 50%;
			}
		}
		.searchForm{width: 100%; margin: 0 6px;
			input{width: 67%; height:39px; font-size:15px; border-radius:4px; border: 2px solid #d6d6d6; padding: 0 4%; background: #fbfbfb;}
			.error{background: #c53e3e;}
		}
	}
	
	#results{font: 'Asap'; width:100%;height: 68%;
		#advancedOptions{width: 85%; height: 110%; position:absolute; margin: auto 0 auto auto; overflow-y:scroll; overflow-x:hidden; -moz-transition: left .5s; -o-transition: left .5s; -webkit-transition: left .5s; transition: left .5s; left: 65%;
			.option{display:block; clear:both; margin: -1% 0; width: 100%; border-bottom: 2px solid #ccc;
				select{visibility:hidden;}
				&:active{background-color:#a1b05d;}
				h2{font-size: 16pt; font-weight: bold; color: #545454;}
				h3{font-size: 12pt; color: #a6a6a6}
				.left{margin: auto auto -34px 0; position:relative; top:42px; left: 4%}
				.right{margin: auto 0 -20px auto;}
				.typeImage,.sizeImage,.maintenanceImage{width: 118px; height: 118px; position:relative; top: -22px; left:7px;}
				.sizeImage{background:url('/images/small.png') no-repeat center center; background-size:65%;}
				.typeImage{background:url('/images/type.png') no-repeat center center; background-size:65%;}
				.maintenanceImage{background:url('/images/maintenance.png') no-repeat center center; background-size:65%;}
			}
		}

		#advancedOptions.advancedOptionsOpened{left:15%;}
		#plantResults{width: 110%; height:104%; margin-bottom: 8px;}
	}
	#plantResults { -moz-transition: left .5s ease; -o-transition: left .5s ease; -webkit-overflow-scrolling: touch; -webkit-transition: left .5s ease; left: 0; position: relative; transition: left .5s ease; width: 100%; background: #fbfbfb;}
	#plantResults.advancedOptionsOpened { border-right: 2px solid rgba(0,0,0,0.3); left: -94%; }

	.returnList { font: 'Asap'; height: 100%; overflow: scroll; padding: 7px 2%; position: relative; width: 100%; z-index: 50; 
	    li { float: left; height: 139px; margin: 1%; position: relative; width: 31%; z-index: 50; }
	    img { clear: both; display: block; max-width: 83px; position: relative; border-radius: 4px; border:1px solid #000; margin-bottom: 5px;}
	    li:after { background: #FFF; content: ''; display: block; height: 100px; left: 0; opacity: 0.01; position: absolute; top: 0; width: 100px; }
	    h2 { font-size: 1.5em; font-weight: 700; color: #3f3f3f}
	    h3 { font-size: 1em; color: #545454}
	}




	#section_content.sideMenuOpened { border-left: 2px solid rgba(0,0,0,0.3);  left: 80%; }
	.hero { height: 150px; overflow: hidden; width: 100%;
		img { height: auto; width: 100%; position: relative; top: -25%; }
	}

	.profileNav { height: 29px; margin-top: -29px; position: relative; width: 100%; 
		li { background: #FFF; border-radius: 3px 3px 0 0; float: left; height: 100%; margin-right: 10px; padding: 5px; text-align: center; width: 25%; }
	}


	#factsNtips li {
		margin: 0 2% 20px 2%;
font-size: 1.7em;
transition: 1s height ease;
-webkit-transition: 1s height ease;
height: 40px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

#factsNtips li.open{
	height: 500px;

white-space: normal;
}

#factsNtips span {
text-transform: capitalize;
font-weight: bold;
}
	.profileContent > div.active { display: block; position: relative; z-index: 200; }
	
	.guages { height: 138px; padding-top: 12px; text-align: center; width: 101%;
		div {margin: 0 auto; /*
		input { position: absolute !important; left: 20% !important; top: 17% !important; margin: 0 !important; }
		*/ }
		img { display: block; height: auto; margin: 0 auto; max-width: 150px; width: 100%; }
		li { float: left; width: 33%; position: relative; }
	}

	.guages > li { height: 46px; }

	.header { background: rgba(0,0,0,0.3); clear: both; font-size: 1.8em; padding: .5% 5%; width: 100%; 
		h2 { display: inline; }
		span { background: rgba(0,0,0,0.8); border-radius: 100%; color: #FFF; float: right; height: 24px; line-height: 1.5em; margin-top: -1px; text-align: center; width: 24px; }
	}
	.notifications { width: 100% 
		li { border-bottom: 1px solid rgba(0,0,0,0.3); font-size: 1.4em; line-height: 2em; padding: 0 5%; position: relative; width: 100%; }
		li:before { background: url(../../images/drop.png) no-repeat; content: ''; display: inline-block; height: 30px; left: 16px; position: relative; top: 13px; width: 37px; }
	}

	.facts h2,
	.stage h2 { font-size: 2em }

	.sprouting { padding: 0 7%; position: relative; 
		p { float: right; font-size: 1.6em; margin-top: -36px; width: 60%; }
		&:before { content: '2'; display: inline; float: left; font-size: 4em; font-weight: 700; left: -5px; position: relative; top: -3px; }
	}

	.stage h3 { font-size: 1.4em }
	.stageProgress { background: url(../../images/progress.png) no-repeat; background-size: 100% auto; clear: both; color: transparent; height: 100px; margin: 30px 0; width: 100%; }
	

	.button { -webkit-box-sizing: border-box; border-radius: 5px; box-sizing: border-box; height: 71px; margin: 3%; overflow: hidden; 
		background: #a1b05d;
background: -moz-linear-gradient(top, #a1b05d 0%, #a1b05d 50%, #96a754 51%, #96a754 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1b05d), color-stop(50%,#a1b05d), color-stop(51%,#96a754), color-stop(100%,#96a754));
background: -webkit-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: -o-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: -ms-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: linear-gradient(to bottom, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1b05d', endColorstr='#96a754',GradientType=0 );

		a { color: #575f30; text-decoration: none; display: block; font-size: 2.6em; height: 100%; line-height: 2.6em; text-align: center; width: 100%; }
	   }
	.faq { border-top: 1px solid rgba(0,0,0,0.3); 
		.faq li { border-bottom: 1px solid rgba(0,0,0,0.3); font-size: 1.4em; line-height: 3em; min-height: 34px; padding: 0 3%; }
	}

	

	img.placeholder {
max-width: 100%;
height: auto;
margin: 0 auto;
display: block;
}
	
	.splash #login,
	.splash .blurb.login,
	.splash #signup,
	.profileContent > div { display: none }
	::selection,
	::-moz-selection { background: transparent }

	.loading {  }
	.loading:after{ content: '';
display: block;
position: fixed;
background: url("../../images/loading.gif") rgba(251, 251, 251, 0.9) center center no-repeat;
height: 100%;
width: 100%;
top: 0;
left: 0;
z-index: 200; }

#header_global .button.close:after {
		content: '+';
		display: block;
		height: 100%;
		width: 100%;
		top: -18px;
		background-image: none;
		position: absolute;
		left: 19px;
		color: #4e4e4e;
		font-size: 61px;
		text-align: center;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
		}

.modal{
	&::after{
		content: '';
		display: block;
		position: fixed;
		background-color: rgba(0, 0, 0, .5);
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 200;
	}
}
.selectModal{
	top: 12%;
	left: 9%;
	position: fixed;
	z-index: 300;
	background: #fbfbfb;
	width: 82%;
	margin: 0 auto;
	max-height: 61%;
	overflow-y:scroll;
	border-radius: 10px;
	box-shadow: 1px 1px 11px #000, -1px -1px 11px #000;
	div{
		display: block; 
		font: 18pt Asap;
		color: #a6a6a6;
		margin: 16px auto;
		width: 88%;
		height: 74px;
		line-height: 74px;
		padding-left: 20px;
		border: 1px solid #a6a6a6;
		border-radius: 5px;
		&:active{
			color: #fff;
			background: #a1b05d;
		}
	}
	.cancel{
		text-align:center;
		color: #fbfbfb;
		background: #c53e3e;
		&:active{
			color: #fbfbfb;
			background: #c53e3e;
		}
	}

	.submit{
		text-align:center;
		color: #fff;
		background: #a1b05d;
		&:active{
			color: #fff;
			background: #a1b05d;
		}
	}

	h2{
		font-size: 14pt;
		font-weight: bold;
		text-align: center;
		margin: 57px 5px 7px 5px;
	}

}


#footer_global {
	clear: both;
		li { 
			float: left; width: 25%;
		}
	}

/* JQuery UI */


.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}







}